@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1200px;
  min-height: 100%;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background:#FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.page-header {
    color: #000000;
}

.navigation {
    display: flex;
    padding: 0 70px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 360px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    list-style-type: none;
}

.navigation__list--user {
    max-width: 270px;
    margin-left: auto;

}

.navigation__list--user .navigation__link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation__link {
    position: relative;
    display: block;
    padding: 20px 16px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    background-color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.navigation__link--underline::before {
  position: absolute;
  bottom: 0;
  right: 16px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation__link--top {
  position: relative;
}

.navigation__button {
    display: inline-block;
    padding: 8px 34px;
    font-family: "PT Sans", sans-serif;
    background: #756157;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.main-container__image {
  padding-top: 51px;
  padding-bottom: 81px;
  background-image: url("../images/index-background.jpg");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-index__title {
    margin-top: 69px;
    margin-bottom: 25px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.main-index__description {
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantages__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages__item {
    background: rgba(131, 179, 211, 0.2);
    width: 400px;
}

.advantages__info {
  padding: 92px 85px 111px;
}

.advantages__title {
    position: relative;
    margin: 0;
    margin-bottom: 62px;
    padding: 0 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages__title::before {
  position: absolute;
  bottom: -32px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages__item--blue-1 .advantages__title::before {
  background: rgba(255, 255, 255, 0.3);
}

.advantages__description {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.advantages__item--blue-1 {
    display: flex;
    width: 100%;
    color: #FFFFFF;
    background: #82B3D3;
}

.advantages__item--blue-1 .advantages__description {
    color: #FFFFFF;
}

.advantages__item--blue-2 {
    background: rgba(131, 179, 211, 0.12);
}

.comfort {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.comfort__item {
  width: 400px;
}

.comfort__item--home, .comfort__item--present {
    background: rgba(131, 179, 211, 0.12);
}

.comfort__wrapper {
  position: relative;
  padding: 80px 85px 81px;
}

.comfort__wrapper--home::before {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 75px;
  height: 74px;
  content: "";
  transform: translateX(-50%);
  background: url("../images/icon/house.svg") no-repeat center;
}

.comfort__wrapper--food::before {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 74px;
  height: 74px;
  content: "";
  transform: translateX(-50%);
  background: url("../images/icon/food.svg") no-repeat center;
}

.comfort__wrapper--present::before {
  position: absolute;
  top: 78px;
  left: 50%;
  width: 64px;
  height: 76px;
  content: "";
  transform: translateX(-50%);
  background: url("../images/icon/present.svg") no-repeat center;
}

.comfort__title {
    margin: 0;
    margin-top: 102px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.comfort__description {
    margin: 0;
    margin-top: 30px;
    color: #333333;
}

.search {
  padding: 96px 304px;
}

.search__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.search___description {
    margin: 0;
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.search__button {
    display: inline-block;
    margin: 0;
    padding: 8px 50px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #756157;
    text-decoration: none;
}

.page-footer {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.footer-subscription {
  padding: 96px 258px 104px;
}


.social__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 260px;
    margin-right: 189px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  list-style-type: none;
}

.social__icon {
  fill: #83b3d3;
}

.social__button:hover .social__icon {
  fill: #68a2ca;
}

.social__button:focus .social__icon {
  fill: #68a2ca;
}

.social__button:focus-visible {
  outline: none;
}

.social__button:active .social__icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-subscription--index {
    background-image: url("../images/footer-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.footer-subscription__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-subscription__description {
    margin: 0;
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.form {
  display: flex;
  align-items: center;
}

.form__field {
  display: flex;
  width: 100%;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: #f2f2f2;
}

.form__button {
    padding: 8px 50px;
    font-family: "PT Sans", sans-serif;
    background: #82B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-container {
  display:flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.contacts__phone {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    max-width: 360px;
    height: 50px;
}

.contacts__site-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 33px;
}

.site-link:focus-visible {
  outline: none;
}

.site-link--icon {
  fill: #000000;
}

.site-link:hover .site-link__icon {
  fill: #756157;
}

.site-link:focus .site-link__icon {
  fill: #756157;
}

.site-link:active .site-link__icon {
  fill: rgba(117, 97, 87, 0.3);
}

.site-link:focus {
  outline: none;
}

.main-inner {
    color: #000000;
    background-color: #FFFFFF;
}

.catalog-container {
    padding: 35px 70px 70px;
    background-image: url("../images/catalog-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #82B3D3;;
}

.catalog-filter  {
    display: flex;
}

.inner-header__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
  list-style-type: none;
  margin-right: 28px;
}

.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  bottom: 5px;
  left: 24px;
  width: 7px;
  height: 10px;
  content: "";
  background-image: url("../images/icon/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.breadcrumbs__link {
    position: relative;
    display: block;
    min-width: 13px;
    min-height: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:hover .breadcrumbs__icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:focus-visible {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs__link:focus-visible .breadcrumbs__icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs__link:focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs__link:focus .breadcrumbs__icon{
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__icon {
  fill: #ffffff;
}

.catalog-filter__group {
  margin: 0;
  padding: 0;
}

.catalog-filter__item {
  list-style-type: none;
  margin-bottom: 16px;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
}

.catalog-filter__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter__group--infrastructure {
  margin-right: 70px;
}

.catalog-filter__group--house {
  margin-right: 141px;
}

.catalog-filter__group--price {
  margin-right: 70px;
}

.catalog-filter__button {
  display: flex;
  flex-direction: column;
}

.catalog-filter__button-apply {
  margin-top: 56px;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.catalog-filter__button-reset {
    margin-top: 32px;
    padding: 8px 50px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
}

.hotels-container {
  display: flex;
  align-items: center;
  padding: 50px 70px 40px;
}

.catalog-hotels__number {
    margin: 0;
    margin-right: 200px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.select-control {
    padding: 14px 50px 14px 20px;
    margin-right: auto;
    width: 295px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.catalog-hotels__button {
    display: flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    box-sizing: border-box;
}

.catalog-hotels__button:hover {
  border: 2px solid #000000;
}

.catalog-hotels__button:focus-visible {
  border: none;
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.catalog-hotels__button:active {
  border: 2px solid #000000;
}

.catalog-hotels__button--mark {
  border: 2px solid #000000;
}

.hotel-list {
   display: grid;
   grid-template-columns: repeat(3, 340px);
   margin: 0 70px 40px;
   padding: 0;
   padding-bottom: 39px;
   gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 340px;
    padding: 20px;
}

.hotel-card__link {
    display: flex;
    flex-direction: column;
    color: #000000;
    text-decoration: none;
}

.hotel-card__image {
  display: block;
  order: -1;
  height: auto;
  margin-bottom: 16px;
  width: 100%;
  object-fit: cover;
}

.hotel-card__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.hotel-card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  box-sizing: border-box;
  gap: 16px 20px;
}

.hotel-card__detail {
  padding: 8px 0;
}

.hotel-card__type {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.hotel-card__price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: right;
}

.hotel-card__rating {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
}

.hotel-card__stars {
  display: flex;
  align-items: center;
}

.hotel-card__star {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

.hotel-card__star--active {
  background-image: url("../images/icon/star.svg");
}

.button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:focus-visible {
  outline: none;
}

.button:disabled {
  background: #e5e5e5;
}

.button--brown {
    display: inline-block;
    background: #756157;
}

.button--brown:hover {
  background: #615048;
}

.button--brown:focus {
  background: #615048;
}

.button--blue {
    background: #82B3D3;
}

.button--blue:hover {
  background-color: #68a2ca;
}

.button--blue:focus {
  background-color: #68a2ca;
}

.button--green {
    background: #7DB54F;
}

.button--green:hover {
  background-color: #6c9e42;
}

.button--green:focus {
  background-color: #6c9e42;
}

.button--transparent {
  background-color: transparent;
  box-sizing: border-box;
}

.button--transparent:hover {
  opacity: 0.6;
}

.button--transparent:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 4px;
}

.button--transparent:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
}

.pagination__link {
    display: block;
    width: 60px;
    height: 60px;
    padding: 12px 15px;
    box-sizing: border-box;
    background: #82B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.pagination__item {
  list-style-type: none;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link--current {
    background: #F2F2F2;
    color: #000000;
}

.pagination__link--all {
    background: #FFFFFF;
    color: #000000;
}

.footer-subscription--individ {
    color: #000000;
    background-color: #FFFFFF;
}

.footer-subscription--individ .footer-subscription__title {
    color: #000000;
}

.footer-subscription--individ .footer-subscription__description {
    color: #333333;
}
